<h1 mat-dialog-title>{{tituloAccion}} Cliente</h1>
<div mat-dialog-content>
    <form [formGroup]="formCliente">
        <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" autocomplete="off">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Telefono</mat-label>
                    <input matInput formControlName="telefono" autocomplete="off">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" autocomplete="off">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Pais</mat-label>
                    <mat-select formControlName="codigoPais">
                      <mat-option *ngFor="let item of listaPais" [value]="item.codigoPais">
                        {{item.nombrePais}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button mat-raised-button color="primary" (click)="addEditCliente()" [disabled]="formCliente.invalid">{{botonAccion}}</button>
</div>
